.content-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@include e(col) {
		box-sizing: border-box;
		@include m(md) {
			&-8 {
				flex: 0 0 66.666666%;
			}
			&-4 {
				flex: 0 0 33.333333%;
			}
		}
	}
}
.post {
	&__description {
		padding: 15px;
		&_large {
			padding: 20px 25px;
		}
	}
}
