/*
@font-face  {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('#{$fontsPath}slick.eot');
    src: url('.#{$fontsPath}slick.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsPath}slick.woff') format('woff'),
        url('#{$fontsPath}slick.ttf') format('truetype'),
        url('#{$fontsPath}#slick') format('svg');
}
*/



html {
    font-size: $baseFontSize;
}

body {
    font-family: $baseFontFamily;
    // background: red;
}

h1 {
    font-weight: $mediumFontWeight;
}

.container {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1120px;
	padding: 0 10px;
	width: 100%
}
.content-row {
	margin: 0 -10px;
	@include e(col) {
		margin-bottom: 20px;
		padding: 0 10px;
	}
}

.post {
	text-transform: uppercase;
	&_large {
		display: flex;
		flex-direction: column;
		height: 100%;
		min-height: 400px;
		justify-content: end;
	}
	&__image {
		img {
			height: auto;
			width: 100%;
		}
	}
	&_imageBg {
		background: url('../../../i/image_large.jpg') no-repeat;
		background-size: cover;
	}
	&__description {
		display: flex;
		flex-direction: column;
		padding: 40px;
		&_large {
			padding: 40px 45px;
		}
	}
	&__title {
		font-size: rem(21px);
		font-weight: normal;
		margin: 0;
		&_light {
			color: #fff;
		}
	}
	&__date {
		margin-bottom: 22px;
		order: -1;
		opacity: .5;
		&_light {
			color: #fff;
		}
	}
	&__author {
		margin-top: 70px;
	}
}
